.content{
    padding-top: 15%;
    
    }

  .container-content{
    padding: 5%
  }

  body{
    font-family: 'Gugi', cursive;
    background-image: url(img/bg.jpg);
    background-attachment: fixed;

   }